html{color:#000;background:#FFF;font-family:Georgia, Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
body{color:#333;}
a:link,a:visited,a:hover{text-decoration:none;color:#049;}
a:hover{text-decoration:underline;}

/*表单元素样式*/
.field-item {clear:both;margin-bottom:10px;font-size: 0;}
.field-item:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.field-item *{ font-size: 12px;}
.field-item label, .field-item span, .input-item, .select-item, .textarea-item, .checkbox-item, .radio-item, .btn-item {display:inline-block; *display:inline; *zoom:1;margin-right:10px; vertical-align:top;}
.field-item label{line-height:26px;height:26px;width:100px; text-align:right;overflow:hidden;}
.field-item em {color:#f00; padding-right:5px;}
.input-item, .select-item,.textarea-item{width:250px;padding:5px;border:1px solid #ccc;}
.input-item {height:20px; line-height: 20px;}
.select-item {width:262px;}
.checkbox-item, .radio-item { margin:2px 0 0 0;}
.btn-item { padding:5px 10px;width:auto; _width:0;overflow:visible;}
.fieldset-item{ }
.legend-item { font-weight:700; padding:5px 0; border-bottom:1px solid #ccc; margin-bottom:10px; display:block; width:100%;}
.field-item-space { padding-left:110px;}

/*表单验证提示信息样式*/
.tip { position:relative; width:10px; height:10px; display:inline-block; *display:inline; *zoom:1;vertical-align:top;}
.tip span{position:absolute;z-index:99;width:270px;border:1px solid #40B3FF;background:#E5F5FF url(../img/msg_bg.png) 5px -143px no-repeat;font-size:12px;color:#666;padding:5px 5px 5px 26px;line-height:20px;text-align:left;overflow:hidden; height:auto;}
.tip span a{font-weight:bold;padding:0 5px;cursor:pointer;color:#039;}
.tip-error span,.item-error{background-color:#FFF2E9;border:1px solid #F60;}
.tip-error span{background-position:5px 7px;}
.item-pass{background-color:#E6FFE6;border:1px solid #00BE00;}
.tip-pass span{background:transparent url(../img/msg_bg.png) 5px -243px no-repeat;border:none;text-indent:-99999px;width:50px; height:20px;}
